/* reglas
selectores
declaraciones
propiedades
valores */

/*selector de etiqueta-header -section -article -nav */
/*header {
    background: pink;
    color: red;
} */

/*selector descendente */
/*body header div nav ol li a */

/*selector de clase . */
/*.link */

/*selector de id # */
/*#portafolio*/


body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.header{
    background-color: #1d252c;
    color: white;
    display: flex;
    height: 70px ;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu {
    height: inherit;
}
.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
    display: flex;
    align-items: center;
}

.header a {
align-items: inherit;    
display: flex;
height: inherit;
padding: 0 10px;
}


ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
   /* font-style: italic; */
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color:white;
    margin: 0px;
   /* margin: 100px 520px 70px 30px; */
    /*top right (se pone 500px por ser el tamaño de la imagen, provocando que no se junte con la imagen) bottom left*/;
    /*text-transform: uppercase;
    text-decoration: underline; */
}
h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    /*background-image: url('./images/hero.jpg');*/
    background-color: #1b2127;
  /*  background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero_image{
    object-fit: cover;
}

.portfolio{
    background: #fafafa;
    padding: 20px;
}
.project {
    /*border-top: 5px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink;*/
    
    /*border-color: red;
    border-width: 15px;
    border-style: solid;*/
    border: 1px solid grey;
    border-radius: 10px;
   /* border-top-right-radius: 50px;
   border-bottom.left-radious: 50px*/
   margin-bottom: 15px;
    /*margin: 0 auto; 
    (top/bottom & right/left* (sirve para centrar el objeto)*/
    padding: 20px; /*relleno*/
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

 .project_course,
 .project_date,
 .project_url {
    margin: 10px 0;;
}

.project_description{
    font-size: 19px;
}
.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.project_title{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.project_details {
    width: 500px;
   
}
.project_imageContainer {
    width: 500px;

}

/*display none, block(ocupa todo el ancho posible), in line(coloca los contenidos en linea, organizandolos de forma orizontal), inline-block, flex, (grid avanzado) */

/*.flexbox {
      display: flex;
      flex-wrap: nowrap; (sirve para mantener el dispay en una misma columna, sin importar el tamaño de la pantalla)*/
    /*flex-wrap:wrap; (existe una emboltura que ayuda a mantener los elementos en un mismo espacio*/
    /*flex-direction: column;(da direccion a los objetos, en este caso verticalmente)*/
    /*justify-content: center; (flex-start, flex-end, center, space-arownd, space-between, space-evenly */
    /*space-around mantiene un espaciado fijo para cada elemento. (En los extremos es menor el margin)
    /*space-evenly Mantiene un margen igual entre todos los elementos incluyendo los extremos
    /*align-items: center; (flex-start, flex-end, center) */

/*.box{
 width: 50px;
 height: 50px;
 margin: 5px;
 border: 1px solid red;
 align-self: flex-start ignora al padre y ubica el objeto en el lugar que quieras}*/
 .event_listTitle{
    margin-left: 20px;
 }

 .event_list {
     display: flex;
     flex-wrap: wrap;
 }

.event{
    border: 1px;
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;

}
.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event_detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 15px;
    text-align: center;
}

.event_description {
    text-align: left;
}

.event_url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form_email h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.form_email{
    margin-left: 15px;
}

.form_email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(./images/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form_email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 5px 0;
    border-radius: 5px;
    width: 100px;
    margin: 10px auto 0;
    font-family: 'Source Sans Pro', sans-serif;

}

.social{
   
}
.social_link {
    display:inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 6px;
}

.social_link.twitter {
    background-image: url('./images/twitter.svg');
}
.social_link.facebook {
    background-image: url('./images/facebook.svg');
}
.social_link.github {
    background-image: url('./images/github.svg');
}
.social_link.instagram {
    margin-right: 15px;
    background-image: url('./images/instagram.svg');
}

 .footer {
     color: white;
     background-color: #1b2127;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .footer img {
     vertical-align: middle;
 }

 .footer a {
     color: white;
 }

 .container {
     /*width: 1000px;*/
     max-width: 1000px;
     margin: 0 auto;
     display: inherit;
     justify-content: inherit;
     align-items: inherit;
     height: inherit;
     flex-wrap: inherit;
 }

 /* desktop first (se empieza desde el MQ más grande */


 @media screen and (max-width: 1024px) {

 }
 @media screen and (max-width: 768px) {

 }
 @media screen and (max-width: 480px) {

 }
 @media screen and (max-width: 320px) {

 }
 